.registration-container {
    margin: 20px;
}

  
h2 {
    text-align: center;
}
.registration-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  

.registration-form label {
    margin-bottom: 5px ;
}

  

.registration-form input {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

  

.registration-form button {
    background-color: #4caf50;
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

p {
    margin-top: 10px;
    text-align: center;
}
  
a{
    color: #4caf50;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}