.create-task-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .create-task-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  textarea,
  input,
  select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  